#left_bar
{
    position: fixed;
    left: 0px;
    top: 180px;
    width: 25%;
    height: fit-content;
    border-radius: 0px 10px 10px 0px;
    background-color: white;
    box-shadow: 0px 0px 8px 1px gray;
}

#left_order_title
{
    display: block;
    font-weight: bold;
    text-align: center;
    padding: 15px;
    font-size: 18px;
    border-bottom: 1px solid gray;
}

#profile_pic
{
    width: 60%;
    height: auto;
    margin: 15px auto;
    display: table;
    border-radius: 30px;
}

#upload_file_input
{
    display: none;
}

#change_pic_btn
{
    margin: 0 auto;
    display: table;
    padding: 10px;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    outline: none;
    cursor: pointer;
}

#personal_email
{
    padding: 20px;
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    white-space: nowrap;
}